{% extends "base.html" %}
{% block title %}About Me{% endblock %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">Who am I, anyway?</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    My name is Andrew and I love exploring.
                    Whether it be hiking in the mountains, checking out small villages on Google Earth, 
                    or digging throgh a new data set.
                    There's so much out there, and right in front of our eyes, for us to find.
                    Join me on my journey of projects and other fun exploration.
                    This is going to be great and I can't wait to get started!
                </p>

                <p>
                    I live in Seattle, Washington, land of rain and trees.
                    I spent most of the last four years living in Portland, Oregon.
                    There I worked as a structural engineer, designing the structural systems 
                    for new buildings and retrofit schemes.
                    Blah, blah, blah NOW IT'S ALL ABOUT DATA!!!
                </p>

                <p>
                    I love mountains, sailing, and traveling. Unfortunately it is difficult to sail on a mountain.
                </p>
                <p>
                    Feel free to reach out by email or LinkedIn if you want to chat about any of my projects.
                    My links are at the bottom of this page.
                </p>
                <p>
                    Thanks for exploring my site and I hope you learn something new!
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}