{% extends "base.html" %}
{% block title %}About Me{% endblock %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/about-faroe.jpeg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">Who am I?</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    My name is Andrew and I love exploring!
                    Whether it be hiking in the mountains, searching through a new data set, or touring small villages on Google Earth,
                    I'm naturally curious and am always looking to find something new.
                </p>
                <p>
                    I live in Seattle, Washington and work as a Data Engineer.
                    My primary role is building a data warehouse to help my business make data-driven decisions.
                    I build data pipelines, create dashboards, and write code to automate processes.
                    In my free time, I love sailing, traveling, skiing, and bike riding.
                </p>
                <p>
                    Before Seattle, I spent four years living in Portland, Oregon where I worked as a structural engineer.
                    I used teamwork, math, and computers to design the new buildings and retrofits for existing buildings.
                    Many of the skills required for structural engineering translate over to Data Analytics:
                    Both require managing projects, communicating with stakeholders, creating graphics to show information visually,
                    cleaning data, and explaining your results.
                    My experience on $100M+ projects gave me confidence to take on big challenges without feeling overwhelmed.
                </p>
                <p>
                    Reach out by email or LinkedIn if you want to chat about any of my projects.
                    Links to both are at the bottom of this page.
                </p>
                <p>
                    Thanks for exploring my site, and I hope you learn something new!
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}