{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}        
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/home-boat.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>My Data Portfolio</h1>
                    <span class="subheading">Hi! Let's Explore Data Together!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Wikipedia Post preview-->
            <div class="post-preview">
                <a href="{{ url_for('views.post_wikipedia') }}">
                    <h2 class="post-title">Tracking Wikipedia Page Views</h2>
                    <h3 class="post-subtitle">Creating a data pipeline and dashboard to track viewcounts of Wikipedia pages over time.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{{ url_for('views.about') }}">Andrew</a>
                    on September 28, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- URM Post preview-->
            <div class="post-preview">
                <a href="{{ url_for('views.post_urm') }}">
                    <h2 class="post-title">Portland URM Building Dashboard</h2>
                    <h3 class="post-subtitle">Identifying unreinforced masonry buildings in Portland, Oregon.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{{ url_for('views.about') }}">Andrew</a>
                    on September 19, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- F1 Post preview-->
            <div class="post-preview">
                <a href="{{ url_for('views.post_f1') }}">
                    <h2 class="post-title">Formula One Data Exploration</h2>
                    <h3 class="post-subtitle">Comparing Qualifying Times</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{{ url_for('views.about') }}">Andrew</a>
                    on September 6, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Baseball Post preview-->
            <div class="post-preview">
                <a href="{{ url_for('views.post_baseball') }}">
                    <h2 class="post-title">Baseball Hall of Fame Voting</h2>
                    <h3 class="post-subtitle">Exploring the trends of voting for the Baseball Hall of Fame</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{{ url_for('views.about') }}">Andrew</a>
                    on August 24, 2022
                </p>
            </div>
            <!-- Divider-->
            <!-- <hr class="my-4" /> -->
            <!-- Pager-->
            <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div> -->
        </div>
    </div>
</div>
{% endblock %}