{% extends "base.html" %}
{% block title %}Baseball Hall of Fame Voting{% endblock %}

{% block content %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url(static/assets/img/baseball-header.jpg)">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Baseball Hall of Fame</h1>
                            <h2 class="subheading">Exploring the trends of voting for the Baseball Hall of Fame.</h2>
                            <span class="meta">
                                Posted by
                                <a href="{{ url_for('views.about') }}">Andrew</a>
                                on August 24, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2 class="section-heading">Background</h2>
                        <p>
                            This post is about a Tableau dashboard that can be viewed <a href="https://public.tableau.com/app/profile/andrew.lozovoy/viz/BaseballHallofFameVoting/InfoPage">here</a>.
                        </p>
                        <p>
                            I've know about web scraping for years, but I had never done it myself.
                            So, I wanted to create a project where I would use a web scraper and then organize and visualize the data.
                            As a baseball fan, I knew that baseball-reference.com was the go to site for all things baseball data.
                            I searched through the site and found found the Hall of Fame voting pages.
                            For each year, they show a table of the players who were on the Hall of Fame ballot that year, and the voting results.
                            This seemed like a good opportunity to look at data that hadn't already been analyzed in hundreds of different ways.
                            I decided to explore if voting trajectories and see if it was correlated with the quality of the player.
                        </p>
                        <h2 class="section-heading">Building a Web Scraper</h2>
                        <p>
                            I used the Python library Beautiful Soup to scrape the Baseball Reference website.
                            It took quite a while to understand the structure of the HTML and parse out the data into a DataFrame.
                            It wasn't very difficult, but it was a time consuming and tedious task.
                            Once I had data from a single page, it was easy to loop through all of the voting years since the 1930s.
                        </p>
                        <a href="https://www.baseball-reference.com/awards/hof_2020.shtml"><img class="img-fluid" src="static/assets/img/baseball-ref.jpg" alt="..." /></a>
                        <span class="caption text-muted">Baseball Reference Hall of Fame Voting page for 2020.</span>
                        <p>
                            I needed to clean several columns of data.
                            As an example, on Baseball Reference "Year on Ballot" was listed as a string: "1st", "2nd", "3rd", etc.
                            I needed transform this into an integer so that I would be able to plot it in Tableau.
                        </p>
                        <p>
                            Each player's career statistics are shown for each year they were on the ballot.
                            This created lots of duplicate data. I decided to clean this up and split the data into two separate DataFrames.
                            This first contained each player on at least one ballot and their career statistics.
                            The second had each player listed for each year they were on the ballot, and the results of that vote.
                        </p>
                        <p>
                            I then saved the DataFrames as .csv files to open in Tableau.
                        </p>
                        <h2 class="section-heading">Tableau</h2>
                        <p>
                            I used a relationship in Tableau to connect the two tables and then created a plot showing voting percentages by year.
                            This gave me what I was looking for. Each line was a player and it was easy to see their voting trajectories.
                            I used color to show a player's career WAR. This stands for Wins Above Replacement and reduces a players value to a single number.
                            It certainly doesn't capture everything about a player, but it provides an easy way to see where public perception (voting) agrees or disagrees with statistical value (WAR).
                            Some notable players are Barry Bonds and Roger Clements who have very high WAR values but never reached the 70% voting mark due to their connections with steroids.
                            We also see players like <a href ="https://www.cooperstowncred.com/bruce-sutter-split-fingered-pioneer/">Bruce Sutter</a> who was voted in despite a low career WAR of only 24.0.
                            That's not to say he isn't worthy, but it is interesting outlier.
                        </p>
                        <p>
                            I decided to recreate the same dashboard, but use "Year on Ballot" as the x-axis rather than year.
                            This provides a better comparison of all the voting trajectories.
                            I used a Tableau calculated field and parameter to allow the user to choose between the X-axis options.
                        </p>
                        <h2 class="section-heading">Insights and Conclusions</h2>
                        <p>
                            I made a scatterplot showing Years On Ballot vs. Career WAR and limited it to players who made the Hall of Fame.
                            We see that the better players (greater WAR) do make it into the Hall of Fame sooner, although the correlation is very weak (R-squared = 0.16).
                            This shows that much of a players reputation is defined by things outside of their statistics (or at least not well captured by WAR).
                        </p>
                        <a href="#!"><img class="img-fluid" src="static/assets/img/baseball-scatter.jpg" alt="..." /></a>
                        <span class="caption text-muted">R-squared of 0.16 means there is very little correlation between Career WAR and how quickly Hall of Famers made it in.</span>
                        <p>
                            Lee Smith has the highest first year voting (42.3%) to not make the Hall of Fame.
                            Many HOF players started with a lower percentage, but For players who clear this benchmark in their first voting year, it is a near certainty that they will reach 70% eventually.
                        </p>
                        <p>
                            The average HOFer players just over 19 seasons in their career.
                            This is much higher than the league average, and stands to show how important both peak and longevity are to HOF voters.
                        </p>
                        <p>
                            I noticed a few values for which it appears the Baseball Reference data is erroneous.
                            I opted not to clean this up since I don't have any way to verify, and arbitrary cleaning based on my impressions of the data is not a very scientific method to follow.
                            It is better to just show all the data than for it to be arbitrary redacted.
                        </p>
                        <h2 class="section-heading">Takeaways</h2>
                        <p>
                            As a project to build a web scraper, this project was very successful.
                            I now have another tool for pulling data into my projects and I can't wait to find new opportunities use it again.
                            As a baseball fan, it was fun to dig in to the data and see which players were over or under valued by the voters.
                        </p>
                    </div>
                </div>
            </div>
        </article>
        
{% endblock %}