{% extends "base.html" %}
{% block title %}Formula One Data Exploration{% endblock %}

{% block content %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url(static/assets/img/f1-header.jpg)">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Formula One Data Exploration</h1>
                            <h2 class="subheading">Comparing Qualifying Times</h2>
                            <span class="meta">
                                Posted by
                                <a href="{{ url_for('views.about') }}">Andrew</a>
                                on September 6, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2 class="section-heading">Background</h2>
                        <p>
                            This post is about a Tableau dashboard that can be viewed <a href="https://public.tableau.com/app/profile/andrew.lozovoy/viz/F1QualifyingTimes/InfoPage">here</a>.
                        </p>
                        <p>
                            Formula 1 is a auto racing series that takes drivers any teams around the world as the strive
                            to design, build, and race the fastest car they can within the rules, or "formula".
                            Each season the rules are changed and the teams need to adapt.
                            Most years involve minor changes, but occasionally they are much bigger.
                        </p>
                        <p>
                            The 2022 season introduced some of the most substantial changes ever.
                            Among other goals, the new cars were promised to be the most equal ever in terms of performance.
                            The last major rules change in 2014 led 8 straight years of Mercedes dominating the constructors championship.
                            While impressive for Mercedes, mosts fans agree that the racing is not as exciting when other teams can't keep up.
                            I wanted to investigate how closely the teams are to each other and see if the goal has been successful.
                        </p>
                        <a href="#!"><img class="img-fluid" src="static/assets/img/f1-mercedes.jpg" alt="..." /></a>
                        <span class="caption text-muted">Mercedes celebrating one of their eight consecutive championships</span>
                        <h2 class="section-heading">Data Exploration</h2>
                        <p>
                            I started investigating F1 data last year using the fastf1 Python library.
                            I made some plots using matplotlib and tracked the gap between drivers during races including the USGP and Brazilian Grands Prix.
                        </p>
                        <p>
                            When I came back to F1 data, I wanted to do it without the fastf1 library.
                            Unfortunately, the library only has data from 2018 and on.
                            I wanted data going back further
                            I found the <a href="http://ergast.com/mrd/">Ergcast API</a> which has qualifying data going back to 2005.
                            Qualifying times allow us to measure the performance of the cars on track without the traffic they encounter during the race.
                        </p>
                        <p>
                            The API returns a json with each driver an their times in the qualifying sessions.
                            This data was cleaned up and then organized in a Pandas DataFrame.
                            For example, the string time "1:32.187" needed to be converted into a number.
                            <!-- The 20 drivers all participate in "Q1".
                            The top 15 advance to "Q2" and then the top 10 of "Q2" advance to "Q3" to set their final qualifying positions.
                            For each driver, I established their qualifying time as the fastest time in the last session they were part of. -->
                        </p>
                        <p>
                            I converted each qualifying time to a percentage off the fastest time so that we can fairly compare teams when each track has a unique length.
                            Each team has two driver, so I also calculated the average time for each team.
                        </p>
                        <p>
                            I plotted the times using the Python library Seaborn.
                            I've wanted to use this for a while, and this project felt like a great opportunity to learn.
                            It made it very easy to quickly create a scatterplot and define the colors for each team.
                        </p>
                        <a href="#!"><img class="img-fluid" src="static/assets/img/f1-scatter.png" alt="..." /></a>
                        <span class="caption text-muted">Scatterplot of qualifying times by race in 2022.</span>
                        <h2 class="section-heading">Tableau</h2>
                        <p>
                            After creating several Seaborn plots, I decided that I wanted the data to be more interactive.
                            I imported the data into Tableau and started creating vizzes and dashboards.
                            Now, the user can view qualifying results in a variety of ways.
                            For example, the Single Season dashboard shows how teams progressed during a specific year.
                            The Season Averages dashboard shows how team performance has changes accross several years.
                        </p>
                        <h2 class="section-heading">Insights and Conclusions</h2>
                        <p>
                            Within the Season Averages dashboard, I created a viz showing the mean, median, and standard deviation of qualifying times for each year.
                            We can see that these increased from 2021 to 2022.
                            This means that, on average, car performance was more spread out.
                            At first, it may appear that the new regulations are a failure.
                            However, it is important to note that car performance generally has a wide spread at the beginning of new regulations.
                            Over time, designs start to converge and performance between teams is more balanced.
                            We can see this trend from 2014 to 2021.
                            Thus, it is promising that the mean, median, and standard deviation only increased slightly from 2021 to 2022.
                            We can see that the spread is still much less than after the last major regulation change in 2014.
                            One would expect that over time the teams will converge and performance will be closer than ever.
                        </p>
                    </div>
                </div>
            </div>
        </article>
        
{% endblock %}