{% extends "base.html" %}
{% block title %}Portland URM Dashboard{% endblock %}

{% block content %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url(static/assets/img/urm-collapse.jpeg)">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Portland URM Building Dashboard</h1>
                            <h2 class="subheading">Identifying unreinforced masonry buildings in Portland, Oregon.</h2>
                            <span class="meta">
                                Posted by
                                <a href="{{ url_for('views.about') }}">Andrew</a>
                                on September 19, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2 class="section-heading">Background</h2>
                        <p>
                            This write-up is about how I created a dashboard and map to show Unreinforced Masonry (URM) buildings in Portland, OR.
                            The dashboard is hosted on Tableau Public and can be viewed here <a href="https://public.tableau.com/app/profile/andrew.lozovoy/viz/PortlandURMDashboard/InfoPage">here</a>.
                        </p>
                        <p>
                            EXPLAIN URM BUILDINGS HERE. EXPLAIN WHY IT IS IMPORTANT FOR PEOPLE TO KNOW WHERE THEY ARE AND WHY THEY CAN BE DANGEROUS.
                        </p>
                        <h2 class="section-heading">The Process</h2>
                        <p>
                            This project was full of several false starts and dead ends.
                            The very first step was to make a public records request with the City of Portland.
                            This was simple enough, and a few days later I received an email with the data attached as an .xlsx file.
                            My first attempt to show this information on a map was using EasyMapMaker.com.
                            This option promised to be easy (it's in the name!) and straightforward, but the free tier was limited to 250 pins per map.
                            My dataset would have required the Premium tier at $59 per month.
                            I opted to avoid this cost and went in search of other map making options.
                        </p>
                        <p>
                            It quickly  became clear that I would need to  establish the longitude and latitudinal coordinates for each of the buildings.
                            The process of obtaining coordinates from street addresses is referred to as geocoding.
                            There are several different geocoding services on the internet, and I started with Nominatim.
                            It is a free API that uses OpenStreetMap.
                            Nominatim gave mostly accurate results, but it could not corra significant number of the properties could not be identified.
                            I tried to clean up my addresses as much as possible before using the service, but eventually decided to try another geocoder.
                        </p>
                        <p>
                            The next geocoder that I used was the Google Maps API.
                            This required more setup as I needed to create a Google Cloud account and establish credentials to use the API.
                            However, once everything was configured, the API ran quickly and accurately.
                            I used pandas to merge the coordinates with  the original data, and I saved this as a .csv.
                        </p>
                        <p>
                            With the address coordinates in my dataset, I now needed a web mapping service to place my tags on.
                            I created a map in Mapbox but struggled with grouping buildings by type and providing each type with a separate colored marker.
                            At the same time, I was taking an online course on Tableau.
                            I decided to put my data into Tableau and see if I could make a better map there.
                            Ultimately, I did.
                            Tableau made it much easier to group the buildings by type and was able to show additional information in tooltips.
                            It also allowed me to easily make a dashboard to show information like the number of buildings in each group, the age distribution of URM buildings, and the number of URM buildings each neighborhood.
                            My experience with Mapbox showed that it is a very powerful map-making tool, but Tableau maps are better suited for this project.
                        </p>
                        <a href="https://public.tableau.com/app/profile/andrew.lozovoy/viz/PortlandURMDashboard/InfoPage"><img class="img-fluid" src="static/assets/img/urm-map.png" alt="..." /></a>
                        <span class="caption text-muted">Unreinfroced Masonry Building map created with Tableau.</span>
                        <p>
                            The last step was to create navigation between the dashboard and the map.
                            I also added an info page to explain the map and dashboard.
                            This info page contains several hyperlinks which were surprisingly difficult to create in Tableau.
                            This is something that they could improve in a future update.
                        </p>
                        <h2 class="section-heading">Insights and Conclusions</h2>
                        <p>
                            These are my great insights and conclusions from the dashboard
                        </p>
                        <h2 class="section-heading">WHAT I LEARNED</h2>
                        <p>
                            This is all the stuff I learned.
                        </p>
                    </div>
                </div>
            </div>
        </article>
        
{% endblock %}