{% extends "base.html" %}
{% block title %}Formula One Data Qualifying Times{% endblock %}

{% block content %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url(static/assets/img/f1-header.jpg)">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Formula One Data Exploration</h1>
                            <h2 class="subheading">Vroom Vroom Vroom Vroom</h2>
                            <span class="meta">
                                Posted by
                                <a href="{{ url_for('views.about') }}">Andrew</a>
                                on September 6, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2 class="section-heading">Background</h2>
                        <p>
                            Formula 1 is a auto racing series that takes drivers any teams around the world as the strive
                            to design, build, and race the fastest car they can within the rules, or "formula".
                            Each season the rules are changed and the teams need to adapt.
                            These changes are for safety, sustainability, cost control, better racing, and to keep the teams having to adapt.
                            Most years involve minor changes
                        </p>
                        <p>
                            The 2022 season introduced some of the most substantial changes ever.
                            The changes promised to cut costs, allow the cars to race closer together, and create a more even field.
                            The first two have proved to be successful.
                            A cost cap limits how much money teams can spend, in theory allowing the smaller teams to compete with the top 3 teams.
                            We have seen several instances where the new cars are successfully able to race side by side SILVERSTONE.
                            But because the cars are built by separate teams, there is still a possibility that some teams get it right and others don't.
                            After all, the last major rules change in 2014 led 8 straight years of Mercedes dominating the constructors championship.
                            I wanted to investigate how closely the teams are to each other, and if in season development is moving them closer together or further apart.
                        </p>
                        <h2 class="section-heading">Data Exploration</h2>
                        <p>
                            I started investigating F1 data last year using the fastf1 Python library.
                            I made some plots using matplotlib and tracked the gap between drivers during races including the USGP and Brazilian Grands Prix.
                        </p>
                        <p>
                            When I came back to F1 data, I wanted to do it without the fastf1 library.
                            It had given me some problems before, and I wanted to handle the data myself.
                            I found the egcast? API and used it to call for data from specific qualifying sessions.
                            I used qualifying data as it allows us to see the peak performance of the cars without the traffic that occurs during the actual race.
                        </p>
                        <p>
                            The API returns a json with each driver an their times in the qualifying sessions.
                            The 20 drivers all participate in "Q1".
                            The top 15 advance to "Q2" and then the top 10 of "Q2" advance to "Q3" to set their final qualifying positions.
                            For each driver, I established their qualifying time as the fastest time in the last session they were part of.
                            This also required converting a string time "1:32.187" to number.
                        </p>
                        <p>
                            I converted each qualifying time to a percentage off the fastest time so that we can fairly compare teams when each track has a unique length.
                            Each team has two driver, so I also calculated the average time for each team.
                        </p>
                        <p>
                            I plotted the times using the Python library Seaborn.
                            I've wanted to use this for a while, and this project felt like a great opportunity to learn.
                            It made it very easy to quickly create a scatterplot and overlay the team times as a line graph.
                        </p>
                        <h2 class="section-heading">Insights and Conclusions</h2>
                        <p>
                            These are my great insights and conclusions.
                        </p>
                    </div>
                </div>
            </div>
        </article>
        
{% endblock %}